:root {
  --basic_black: #000000;
  --basic_light_black: #283136;
  --basic_gray: #EEEEEE;
  --basic_gray_hover: #DFDFDF;
  --basic_gray_active: #D5D5D5;
  --basic_dark_gray: #4D4D4D;
  --basic_red: #FB565A;
  --basic_red_hover: #E74246;
  --basic_red_active: #D7373B;
  --basic_green: #00CA74;
  --basic_green_hover: #00BC6C;
  --basic_green_active: #00AA62;
  --basic_yellow: #EFC849;
  --basic_yellow_hover: #EAB534;
  --basic_yellow_active: #E5A722;
  --basic_white: #ffffff;
}   

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic_black);
  text-transform: uppercase;
  background-color: var(--basic_white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}
.page_body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.main_header {
  margin-bottom: 70px;
  color: var(--basic_black);
  background-color: var(--basic_gray);

}
.navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  
}

.nerds_logo {
  width: 160px;
  height: 65px;

}
.container {
  width: 1160px;
  margin: 0 auto;
}
.main_navigation_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 60px;
}
.site_navigation {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0;
  padding: 0;
  min-height: 95px;
  list-style: none;

}
.cart_navigation {
  max-width: 150px;

}

.site_navigation a,
.cart_navigation a {
  color: var(--basic_black);
}
.site_navigation a:hover,
.cart_navigation a:hover {
  color: var(--basic_red);
}

.site_navigation a:focus,
.cart_navigation a:focus {
  color: var(--basic_black);
  opacity: 0.3;
}
.cart_navigation .cart_link {
  padding-left: 25px;
}

.sliders {
  position: relative;
  margin: auto;
}
.sliders ul {
  list-style: none;
}
.show_slider {
  display: none;
}
.slide_dots {
  text-align: center;
}
.slide_dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 8px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.active, .slide_dot:hover {
  
  background-color: #c1c1c1;
}

/* Main-Index */

.content {
  
  margin-bottom: 80px;
}
.content_list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

}
.content_item {
  width: 400px;
  text-align: left;

}
.content_item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 16px;
}
.content_item p {
  font-weight: 400;
  color: var(--basic_light_black);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  width: 260px;
  text-transform: none;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic_white);
  vertical-align: middle;
  text-transform: inherit;
  border: none;
}
.button_red {
  background-color: var(--basic_red);
}
.button_red:hover,
.button_red:focus {
  background-color: var(--basic_red_hover);
}
.button_red:active {
  background-color: var(--basic_red_active);
}
.button_green {
  background-color: var(--basic_green);
}
.button_green:hover,
.button_green:focus {
  background-color: var(--basic_green_hover);
}
.button_green:active {
  background-color: var(--basic_green_active);
}
.button_yellow {
  background-color: var(--basic_yellow);
}
.button_yellow:hover,
.button_yellow:focus {
  background-color: var(--basic_yellow_hover);
}
.button_yellow:active {
  background-color: var(--basic_yellow_active);
}

/* Main-Catalog */

.catalog_page {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-gap: 40px;
  align-content: start;
  grid-template-areas:
  "price sorting sorting"
  "filters catalog catalog"
  "filters pagination pagination";

}
.catalog_title{
  text-align: center;
  grid-column: 1 / -1;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: var(--basic_black);
  background-color: var(--basic_gray);
  text-transform: none;

}

.sort {
  grid-area: sorting;
}
.sort_type {
  list-style: none;
}

.filters {
  grid-area: filters;
  width: 360px;

}
.filter_price {
  grid-area: price;
  height: 100px;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
  border: none;
}

.filter legend {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.filter ul {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic_light_black);
  text-transform: none;
}
.filter_option {
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}


.filter input + label,
.filter input:hover + label {
  color: var(--basic_light_black);
}
.filter input:disabled + label {
  color: var(--basic_light_black);
  opacity: 0.3;
}

.filter_button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic_black);
  vertical-align: middle;
  text-transform: inherit;
  background-color: var(--basic_gray);
  border: none;
}
.filter_button:hover,
.filter_button:focus {
  background-color: var(--basic_gray_hover);
}
.filter_button:active {
  background-color: var(--basic_gray_active);
}
.catalog {
  grid-area: catalog;
  min-width: 720px;

}
.catalog_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
}
.catalog_item {
  width: 358px;
  min-height: 378px;
  margin-bottom: 31px;
}
.catalog_item:nth-child(2n-1) {
  margin-right: 40px;
}
.pages {
  grid-area: pagination;
}

.pages ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

/* Footer */

.main_footer {
  padding: 60px 0;
  margin-top: 80px;

}
.main_footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer_contacts { 

}
.footer-contacts p {
  margin: 0;
}
.footer_social {
  width: 260px;
  justify-self: start;

}
.footer_social ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}
.social_button {
  background-color: #E1E1E1;
}
.social_button:hover,
.social_button:focus {
  background-color: var(--basic_red_hover);
}
.social_button:active {
  background-color: var(--basic_red_active);
}
.friendly {
  margin: 0;
  justify-self: center;

}
.friendly h2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}
.friendly p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  text-transform: none;
}
.contact_us h2{
  text-transform: none;
}
.contact_us label{
  font-weight: 700;
  color: var(--basic_black);
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}
.contact_us input,
.contact_us textarea {
    background-color: transparent;
    border: 2px solid #D7DCDE;
}
.contact_us input:focus,
.contact_us textarea:focus {
    border-color: #B4B9BB;
}
.visually_hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}